@media only screen and (min-width: 800px) {
    .login {
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 5%;
        padding: 50px;
    }

    .loginHead {
        text-align: center;
    }
}
@media only screen and (max-width: 800px) {
    .login {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 5%;
        padding: 50px;
    }

    .loginHead {
        text-align: center;
    }
}